version: '3.8'

services:
  connect:
    image: quay.io/debezium/connect:2.7.4.Final
    container_name: kafka-connect
    restart: always
    user: "1001:1001"

    environment:
      KAFKA_HEAP_OPTS: "-Xms10G -Xmx32G -XX:+UseG1GC -XX:MaxGCPauseMillis=200 -XX:G1HeapRegionSize=16M -XX:+ParallelRefProcEnabled -XX:MetaspaceSize=512M -XX:MaxMetaspaceSize=1G -XX:+UseStringDeduplication"
      BOOTSTRAP_SERVERS: "10.230.3.47:9092,10.230.3.48:9092,10.230.3.49:9092,10.230.3.50:9092,10.230.3.51:9092,10.230.3.52:9092"
      GROUP_ID: "kaspi-connect"
      CONFIG_STORAGE_TOPIC: "connect-configs"
      OFFSET_STORAGE_TOPIC: "connect-offsets"
      STATUS_STORAGE_TOPIC: "connect-status"

      CONFIG_STORAGE_REPLICATION_FACTOR: 3
      OFFSET_STORAGE_REPLICATION_FACTOR: 3
      STATUS_STORAGE_REPLICATION_FACTOR: 3

      REST_ADVERTISED_HOST_NAME: "10.120.3.140"
      REST_LISTENERS: "http://0.0.0.0:8083"
      ports:
        - "8083:8083"
        - "9097:9097"
      JMXHOST: "localhost"
      AUTO_INCLUDE_JMX_REPORTER: "false"
      KAFKA_OPTS: |-
        -Ddebezium.metrics.unregistration.on.stop=true
        -Ddebezium.metrics.scope=per-connector
        -Ddebezium.metrics.mbean.domain=debezium-kafka-connect
        -Dcom.sun.management.jmxremote
        -Dcom.sun.management.jmxremote.authenticate=false
        -Dcom.sun.management.jmxremote.ssl=false
        -Djava.rmi.server.hostname=kafka-connect
        -javaagent:/kafka/connect/plugins/jmx-agent/jmx_prometheus_javaagent-0.17.2.jar=9097:/kafka/connect/plugins/jmx-agent/config.yml

      KEY_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      VALUE_CONVERTER: "org.apache.kafka.connect.json.JsonConverter"
      KEY_CONVERTER_SCHEMAS_ENABLE: "false"
      VALUE_CONVERTER_SCHEMAS_ENABLE: "false"

      CONNECT_PLUGIN_PATH: "/kafka/connect,/kafka/connect/plugins"

      CONNECT_SECURITY_PROTOCOL: "SASL_PLAINTEXT"
      CONNECT_SASL_MECHANISM: "PLAIN"
      CONNECT_SASL_JAAS_CONFIG: "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"devops\" password=\"Srvhb0420\";"

      CONNECT_PRODUCER_SECURITY_PROTOCOL: "SASL_PLAINTEXT"
      CONNECT_PRODUCER_SASL_MECHANISM: "PLAIN"
      CONNECT_PRODUCER_SASL_JAAS_CONFIG: "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"devops\" password=\"Srvhb0420\";"

      CONNECT_CONSUMER_SECURITY_PROTOCOL: "SASL_PLAINTEXT"
      CONNECT_CONSUMER_SASL_MECHANISM: "PLAIN"
      CONNECT_CONSUMER_SASL_JAAS_CONFIG: "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"devops\" password=\"Srvhb0420\";"

      CONNECT_ADMIN_SECURITY_PROTOCOL: "SASL_PLAINTEXT"
      CONNECT_ADMIN_SASL_MECHANISM: "PLAIN"
      CONNECT_ADMIN_SASL_JAAS_CONFIG: "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"devops\" password=\"Srvhb0420\";"

    volumes:
      - /opt/kafka-connect/plugins:/kafka/connect/plugins

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8083/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  prometheus:
    build:
      context: debezium-prometheus
      args:
        PROMETHEUS_VERSION: v2.43.0
    ports:
     - 9090:9090
    depends_on:
     - kafka-connect
    volumes:
      - ./prometheus-data:/prometheus
      - ./debezium-prometheus/prometheus.yml:/etc/prometheus/prometheus.yml


  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    restart: always
    ports:
      - "8080:8080"

    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 512M

    environment:
      KAFKA_CLUSTERS_0_NAME: "kaspi-cluster"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "10.230.3.47:9092,10.230.3.48:9092,10.230.3.49:9092,10.230.3.50:9092,10.230.3.51:9092,10.230.3.52:9092"

      KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL: "SASL_PLAINTEXT"
      KAFKA_CLUSTERS_0_PROPERTIES_SASL_MECHANISM: "PLAIN"
      KAFKA_CLUSTERS_0_PROPERTIES_SASL_JAAS_CONFIG: "org.apache.kafka.common.security.plain.PlainLoginModule required username=\"devops\" password=\"Srvhb0420\";"

      DYNAMIC_CONFIG_ENABLED: "true"

      KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME: "kaspi-connect"
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS: "http://10.120.3.140:8083"

    depends_on:
      - connect